<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Profile</title>
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/profiles.css" />
  </head>
  <body>
    <main id="new-user">
      <form action="/profiles" method="POST" enctype="multipart/form-data">
        <!-- We need to add the "enctype" attribute to the form if we wanna add a file upload feature. -->
        <!-- This controls how the form is encoded -->
        <!-- Which means how that data, which is part of this page, will be packed into the request body by -->
        <!-- the browser, when the browser sends that request with that data to the server. -->
        <!-- "application/x-www-form-urlencoded" is the default enctype. We use it when we have no file picker -->
        <!-- But if we have at least one file picker, we need to add "multipart/form-data" as the enctype -->
        <!-- Now we need to create a post route named /profiles in users.js to accept this form data -->
        <div class="form-control">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-control">
          <label for="image">User image</label>
          <input
            type="file"
            id="image"
            name="image"
            required
            accept=".jpg, .png, .jpeg"
          />
          <!-- This type="file" will create a file picker -->
          <!-- accept= attribute will define the file types thats acceptable. -->
          <!-- "image/jpg" will select both .jpg and .jpeg -->
          <!-- "image/*" will select all the image types -->
        </div>
        <button class="btn">Save User</button>
      </form>
    </main>
  </body>
</html>
