#user-controls,
#new-user,
.user-item {
  margin: 2rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 6px;
  text-align: center;
}

#user-profiles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-item article {
  display: flex;
  align-items: center;
}

.user-item img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-item h2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0.5rem 1rem;
  color: rgb(97, 92, 92);
}

#new-user {
  text-align: left;
}

.form-control {
  margin: 0.5rem 0;
}

#image-preview {
  width: 5rem;
  height: 2.5rem;
  object-fit: cover;
  /* This will make sure that there won't be any distortion on the image */
  /* since object fit will ensure that the aspect ratio is not destroyed */
  /* and instead the image is simply clipped to fit into the boundaries. */

  display: none;
  /* This will make sure that by default the image-preview element is not shown */
  /* This element is only shown when triggered through the following code on */
  /* file-preview.js file => imagePreviewElement.style.display = "block"; */
}
